.teacherItem {
  width: 7.02rem;
  margin: 0.36rem auto 0;
  box-shadow: #eaf6ff 0 0 0.1rem 0.05rem; //边框阴影
  box-sizing: border-box;
  padding: 0.2rem 0.25rem 0.25rem;
  border-radius: 0.05rem;
  .box {
    .box_top {
      display: flex;
      .pic {
        img {
          width: 1.45rem;
          height: 1.45rem;
          border-radius: 50%;
        }
      }
      .name {
        padding-left: 0.2rem;
        padding-top: 0.45rem;
        .p_name {
          font-size: 0.25rem;
          font-weight: 800;
          color: #5c5c5c;
        }
        .p_info {
          font-size: 0.22rem;
          font-weight: 600;
          color: #757575;
        }
      }
    }
    .box_info {
      margin-top: 0.15rem;
      p {
        font-size: 0.24rem;
        line-height: 0.32rem;
        color: #757575;
        font-weight: 600;
        font-family: 'Adobe黑体Std';
        word-break: break-all;
        white-space: inherit;
      }
    }
    .show_tips {
      padding-top: 0.16rem;
      span {
        display: inline-block;
        font-size: 0.23rem;
        line-height: 0.44rem;
        padding: 0 0.15rem;
        margin-right: 0.26rem;
        border-radius: 0.22rem;
      }
      .col1 {
        color: #ff8f02;
        background-color: #fff4e5;
      }
      .col2 {
        color: #00ccc3;
        background-color: #e5faf9;
      }
      .col3 {
        background-color: #e5f4ff;
        color: #0393ff;
      }
      .col4 {
        background-color: #fff4e5;
        color: #ff8f02;
      }
    }
  }
}

.loading-info {
  p {
    text-align: center;
    font-size: 0.22rem;
    color: red;
  }
}
.loading {
  text-align: center;
  p {
    font-size: 0.22rem;
    color: red;
  }
  img {
    width: 2rem;
    margin-top: 0.3rem;
  }
}
