.headerInfo .banner .swiper-wrapper .swiper-slide img {
  width: 7.5rem;
}
.headerInfo .jianjie_info {
  width: 7.5rem;
  background-image: url(../assets/img/mapbj.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -1.5rem;
  padding-top: 0.9rem;
}
.headerInfo .jianjie_info .info_1 h2 {
  font-family: 'AlibabaPuHuiTiM', '黑体';
  font-size: 0.36rem;
  color: #ff6522;
  font-weight: 800;
  text-align: center;
}
.headerInfo .jianjie_info .info_1 p {
  width: 100%;
  font-size: 0.18rem;
  color: #7e7e7e;
  line-height: 0.36rem;
  text-align: center;
}
.headerInfo .jianjie_info .info_2 {
  padding: 0.18rem 0.24rem 0;
}
.headerInfo .jianjie_info .info_2 p {
  font-size: 0.23rem;
  line-height: 0.36rem;
  color: #7e7e7e;
  font-weight: 600;
  text-indent: 2em;
}
.teacherItem {
  width: 7.02rem;
  margin: 0.36rem auto 0;
  box-shadow: #eaf6ff 0 0 0.1rem 0.05rem;
  box-sizing: border-box;
  padding: 0.2rem 0.25rem 0.25rem;
  border-radius: 0.05rem;
}
.teacherItem .box .box_top {
  display: flex;
}
.teacherItem .box .box_top .pic img {
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
}
.teacherItem .box .box_top .name {
  padding-left: 0.2rem;
  padding-top: 0.45rem;
}
.teacherItem .box .box_top .name .p_name {
  font-size: 0.25rem;
  font-weight: 800;
  color: #5c5c5c;
}
.teacherItem .box .box_top .name .p_info {
  font-size: 0.22rem;
  font-weight: 600;
  color: #757575;
}
.teacherItem .box .box_info {
  margin-top: 0.15rem;
}
.teacherItem .box .box_info p {
  font-size: 0.24rem;
  line-height: 0.32rem;
  color: #757575;
  font-weight: 600;
  font-family: 'Adobe黑体Std';
  word-break: break-all;
  white-space: inherit;
}
.teacherItem .box .show_tips {
  padding-top: 0.16rem;
}
.teacherItem .box .show_tips span {
  display: inline-block;
  font-size: 0.23rem;
  line-height: 0.44rem;
  padding: 0 0.15rem;
  margin-right: 0.26rem;
  border-radius: 0.22rem;
}
.teacherItem .box .show_tips .col1 {
  color: #ff8f02;
  background-color: #fff4e5;
}
.teacherItem .box .show_tips .col2 {
  color: #00ccc3;
  background-color: #e5faf9;
}
.teacherItem .box .show_tips .col3 {
  background-color: #e5f4ff;
  color: #0393ff;
}
.teacherItem .box .show_tips .col4 {
  background-color: #fff4e5;
  color: #ff8f02;
}
.more p {
  text-align: center;
  font-size: 0.22rem;
  color: red;
}
.loading {
  text-align: center;
}
.loading p {
  font-size: 0.22rem;
  color: red;
}
.loading img {
  width: 2rem;
  margin-top: 0.3rem;
}
