.chooseqq {
  position: fixed;
  width: 7.5rem;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.253);
}
.chooseqq .innch {
  width: 4.16rem;
  background-color: white;
  height: 100vh;
  position: relative;
  left: 3.34rem;
  top: 0;
  box-sizing: border-box;
  padding: 0.73rem 0.4rem;
  padding-right: 0.4rem;
}
.chooseqq .innch .chose_box .chose_top h3 {
  font-size: 0.26rem;
  line-height: 0.63rem;
}
.chooseqq .innch .chose_box .chose_top .goodat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chooseqq .innch .chose_box .chose_top .goodat .chose_it {
  display: inline-block;
  width: 1.55rem;
  color: #7d7d7d;
  background-color: #f6f6f6;
  font-size: 0.28rem;
  line-height: 0.88rem;
  text-align: center;
  border-radius: 0.08rem;
  margin-top: 0.36rem;
  font-weight: 800;
  box-shadow: #e9f6ff 0 0 0.1rem 0.05rem;
}
.chooseqq .innch .chose_box .chose_top .goodat .chose_it img {
  display: none;
}
.chooseqq .innch .chose_box .chose_top .goodat .chose_act {
  background-color: #ff4f03;
  color: white;
  position: relative;
}
.chooseqq .innch .chose_box .chose_top .goodat .chose_act img {
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.chooseqq .innch .chose_bon {
  position: absolute;
  right: 0.4rem;
  bottom: 2.5rem;
}
.chooseqq .innch .chose_bon .res_box span {
  font-size: 0.24rem;
  line-height: 0.88rem;
  width: 1.6rem;
  display: inline-block;
  text-align: center;
  color: black;
}
.chooseqq .innch .chose_bon .res_box .res {
  background-color: #ffede5;
  color: #ff4f03;
  border-bottom-left-radius: 0.44rem;
  border-top-left-radius: 0.44rem;
}
.chooseqq .innch .chose_bon .res_box .queding {
  color: white;
  background-color: #ff4f03;
  border-bottom-right-radius: 0.44rem;
  border-top-right-radius: 0.44rem;
}
.headerInfo .banner .swiper-wrapper .swiper-slide img {
  width: 7.5rem;
}
.headerInfo .jianjie_info {
  width: 7.5rem;
  background-image: url(../../../assets/img/mapbj.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -1.5rem;
  padding-top: 0.9rem;
}
.headerInfo .jianjie_info .info_1 h2 {
  font-family: 'AlibabaPuHuiTiM', '黑体';
  font-size: 0.36rem;
  color: #ff6522;
  font-weight: 800;
  text-align: center;
}
.headerInfo .jianjie_info .info_1 p {
  width: 100%;
  font-size: 0.18rem;
  color: #7e7e7e;
  line-height: 0.36rem;
  text-align: center;
}
.headerInfo .jianjie_info .info_2 {
  padding: 0.18rem 0.24rem 0;
}
.headerInfo .jianjie_info .info_2 p {
  font-size: 0.23rem;
  line-height: 0.36rem;
  color: #7e7e7e;
  font-weight: 600;
  text-indent: 2em;
}
